/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    min-width: 250px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

header {
    background-color: gray; /* Color de fondo */
    color: #fff; /* Color de texto */
    flex-basis: 100%;
    padding: 1%;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(0, 166, 255);
    font-size: 50px;
}

/* Estilo para el contenedor principal */
.container {
    display: flex; /* Utiliza un diseño de caja flexible para alinear elementos horizontalmente */
}

/* Estilo para el logotipo */
.logo {
    display: flex;
    flex-basis: 15%;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0 auto;
}

.logo a img {
    max-width: 150px; /* Tamaño máximo del logotipo DEPENDE DE QUE LOGO SE PONGA HAY QUE PONER HEIGHT */
    height: auto;
}

/* Estilo para la barra de navegación */
.menu {
    display: flex;
    flex-basis: 40%;
    justify-content: flex-start;
    align-items: center;
    background-color: gray;
    margin-left: 5%;
    margin-right: 5%;
}

.menu a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    margin: 0 20px;
    color: #fff;
    justify-content: space-between;
}

/* Estilo para los botones */
.buttons {
    display: flex;
    flex-basis: 30%;
    justify-content: flex-start;
    align-items: flex-start;
}

.buttons button {
    align-items: flex-end;
    background-color: blue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

/* Cambia el color del botón al pasar el mouse sobre él */
.buttons button:hover {
    background-color: rgb(0, 179, 255);
}

.menu a:hover {
    color: rgb(0, 179, 255);
}

/* ######################### SECCION GENERAL ######################### */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

/* ######################### SECCION 1 ######################### */

/* mapa */
svg {
    padding-top: 5%;
    width: 100%;
    overflow: visible;
}

.mapa_espania {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
}

.mapa_espania path {
    fill: whitesmoke;
    stroke: #000;
    stroke-width: 1;
}

.mapa_espania path:hover {
    fill: yellow;
}

.mapa{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 100%;
}

h2 .mapa{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 100%;
}

/* ######################### SECCION 2 ######################### */

/* buscador */
.contenedor {
    flex-basis: 70%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: center; /* Alinea verticalmente los elementos */
    align-items: center; /* Alinea horizontalmente los elementos */
}

.box-buscar {
    margin: 0;
    width: 50%;
}

.box-buscar input {
    height: 25px;
    width: 100%;
}

.box-boton button {
    width: 180%;
    height: 30.5px;
    border-radius: 0px 5px 5px 0px;
    background-color: blue;
    color: whitesmoke;
}

.box-boton button:hover {
    background-color: rgb(0, 179, 255);
}

/* ######################### SECCION 3 ######################### */

/* Articulos */
.sectionExperencia .titulo {
    flex-basis: 100%;
    text-align: center;
}

.sectionExperencia {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.experienciacolum1 {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    padding-top: 50px;
}

.experienciacolum2 {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}

.experienciacolum3 {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    padding-top: 100px;
}

.sectionExperencia .experienciacolum1 a, .sectionExperencia .experienciacolum2 a, .sectionExperencia .experienciacolum3 a {
    text-decoration: none;
    color: black;
}

.expe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5px;
    box-shadow: 0px 0px 2px gray;
    border-radius: 5px;
    padding: 5px;
}

.expe > img {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.datos-productos{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-basis: 100%;
}

.titulo_pro{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    padding: 3px;
}

.descripcion {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    padding: 3px;
}

.expe:hover {
    box-shadow: 0px 0px 5px gray;
}

/* Estlilos para footer */
footer {
    background-color: gray; /* Color de fondo */
    color: #fff; /* Color de texto */
    width: 100%;
}

.logofo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.logofo a img {
    max-width: 150px; /* Tamaño máximo del logotipo DEPENDE DE QUE LOGO SE PONGA HAY QUE PONER HEIGHT */
    height: auto;
}

.containerfoo {
    display: flex; /* Utiliza un diseño de caja flexible para alinear elementos horizontalmente */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    align-items: center; /* Alinea los elementos verticalmente */
    max-width: 1200px;
    margin: 0 auto;
}

.foInformacion {
    flex-basis: 30%;
    align-items: flex-end;
    justify-content: flex-end;
}

.foInformacion p a img {
    max-width: 25px; /* Tamaño máximo del logotipo DEPENDE DE QUE LOGO SE PONGA HAY QUE PONER HEIGHT */
    height: auto;
}

/* ############################ METODOS RESPONSIVE ############################ */

/* Estilos para tamaños de pantalla más grandes, como escritorio */
@media screen and (min-width: 769px) {
    /* Mostrar la barra de navegación normal */
    .menu {
        display: flex;
    }

    /* Ocultar el icono de menú (bocadillo) y el icono de usuario en la cabecera */
    .logo::before, .buttons::before {
        display: none;
    }

    /* Estilos para la versión de escritorio */
    article{
        flex-basis: 32%; /* Puedes ajustar esto según tus necesidades */
    }
}

/* Estilos para tamaños de pantalla medianos, como tablet */
@media screen and (max-width: 768px) {
    /* Ocultar el menú de navegación */
    .menu {
        display: none;
    }

    /* Mostrar el icono de menú (bocadillo) y el icono de usuario en la cabecera */
    .logo::before {
        content: "\2630";
        font-size: 30px;
        cursor: pointer;
        margin-right: 20px;
    }

    .buttons button {
        display: none;
    }

    .buttons::before {
        content: "\1F464";
        font-size: 30px;
        cursor: pointer;
    }
    

    /* Estilos para la versión Tablet */
    .sectionExperencia .experienciacolum1,
    .sectionExperencia .experienciacolum3 {
        flex-basis: 45%;
        padding-top: 0;
    }

    .sectionExperencia .experienciacolum2{
        flex-basis: 95%;
        order: 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media screen and (max-width: 600px) {
    /* Ocultar el menú de navegación */
    .menu {
        display: none;
    }

    /* Mostrar el icono de menú (bocadillo) y el icono de usuario en la cabecera */
    .logo::before {
        content: "\2630";
        font-size: 30px;
        cursor: pointer;
        margin-right: 20px;
    }

    .buttons button {
        display: none;
    }

    .buttons::before {
        content: "\1F464";
        font-size: 30px;
        cursor: pointer;
    }

    /* Estilos para la versión Tablet */
    .sectionExperencia .experienciacolum1,
    .sectionExperencia .experienciacolum3 {
        flex-basis: 100%; 
    }

    .sectionExperencia .experienciacolum2{
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }
    
}
